<header>
    <div class="title">
        <h1>Eventu</h1>
    </div>
    <div class="menu">
        <ul>
            <li>
                <button routerLink="events" routerLinkActive="active">Events</button>
            </li>
            <li>
                <button routerLink="auth/login" routerLinkActive="active">Login</button>
            </li>
            <li>
                <button routerLink="auth/signup" routerLinkActive="active">Signup</button>
            </li>
        </ul>
    </div>
</header>