<header>
    <div class="title">
        <h1>Eventu</h1>
    </div>
    <div class="menu">
        <ul>
            <li>
                <button routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Events</button>
            </li>
            <li>
                <button routerLink="login" routerLinkActive="active">Login</button>
            </li>
            <li>
                <button routerLink="signup" routerLinkActive="active">Signup</button>
            </li>
        </ul>
    </div>
</header>