<div class="card-wrapper">
    <div [appEventType]="event.type" class="card-chip">{{event.type}}</div>
    <div class="img-bg" [ngStyle]="{'background': 'url(' + event.pictures[0].src + ') no-repeat 50% 50% / cover'}">
        <div class="card-title">
            <p class="line-break">{{event.init_presentation_date | displayDate: event.end_presentation_date: 'short'}}</p>
        </div>
    </div>
    <div class="card-content">
        <div class="date">
            <div>
                <p>{{event.init_presentation_date | date:'hh:mm'}} -
                    {{event.end_presentation_date | date:'hh:mm'}}
                </p>
            </div>
            <div>
                <fa-icon [icon]="faClock"> </fa-icon>
            </div>
        </div>
        {{event.description}}
    </div>
    <div class="card-footer">
        <button>Go</button>
    </div>
</div>