:root {
    --primary: #512b58;
    --secondary: #2a7886;
    --tertiary: #79bac1;
    --light: #f1f3f4;
    --dark: #666;
    --success: #10dc60;
    --danger: #f04141;
    --warning: #ffce00;
    --white: #fff;
}