<!-- carousel -->
<div class="carousel">
  <ng-container *ngFor="let slide of slider; let i = index">
    <img [src]="slide?.src" *ngIf="i === currentSlide" class="slide"
      [@carouselAnimation]="{value: '*', params: {width: imageWidth, speed: speed }}" />
  </ng-container>

  <!-- controls -->
  <button class="control prev" (click)="prev()">
    <span class="arrow left"></span>
  </button>
  <button class="control next" (click)="next()">
    <span class="arrow right"></span>
  </button>
  <div class="bullets-container">
    <div class="bullets">
      <div  [ngClass]="{'active' : (i === currentSlide)}" (click)="setSlider(i)" class="bullet" *ngFor="let bullet of slider; let i = index">
      </div>
    </div>
  </div>
</div>