.wrapper {
    display: block;
    margin-top: 7vh;
    height: 93vh;
    padding: 16px;
    overflow-y: scroll;
    &::-webkit-scrollbar{
        width: 0;
    }
    scrollbar-color: #888 #f1f1f1;
    scrollbar-width:none;
}

@media (min-width: 1200px){
    .wrapper {
        max-width: calc(100% - 200px);
        align-items: center;
        margin: 7vh auto;
    }
}